@import '../../../styles/global/animations.scss';

.task-row{
    display: flex;
    width: 100%;
    padding: 20px 0px;
    animation: fadeInUp ease 1s forwards;
    opacity: 0;

    &.edit {
        animation-duration: .5s;
        animation-delay: 0s!important;
    }

    .checkbox {
        flex: 0 0 auto;
        margin-right: 10px;
        margin-top: 2px;
    }

    .content {
        flex: 1;
    }
}
