.skeleton {
    height: 100vh;
    max-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    max-height: -webkit-fill-available;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .head, .body, .footer {
        padding: 0px 30px;
        overflow: hidden;
    }

    .head{
        padding-top: 20px;
        margin-bottom: 15px;
        flex: 0 0 20%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .body{
        flex: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer{
        flex: 0 0 150px;
    }
}