.room{
    .progress{
        height: 2px!important;
    }
    .head {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .body {
        display: block;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;

        .tasks-list {
            display: flex;
            flex-direction: column;
            width: 100%;
            // &>div:nth-child(1) {
            //     background-color: red;
            // }

            @for $i from 1 through 10 {
                &>div:nth-child(#{$i}) {
                    animation-delay: #{$i * 0.1}s;
                }
            }
        }
    }
    .footer {
        flex: 0 0 auto;
    }
   
}